# Dependencies
node_modules/

#docs
related-docs/
docs/

verify-env.js 
verify-production-env.js

#kiro
.kiro/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment variables
.env

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.ipa
*.apk

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
